.table {
    display: table;
}

.head {
    display: table-header-group;
    font-weight: 700;
}

.row {
    display: table-row;
    padding-top: 5px;
}

.cell {
    display: table-cell;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    text-align: left;
}

.obj {
    background-color: darkgrey;
}

.key {
    background-color: silver;
}

.value {
    background-color: aliceblue;
}
